#Random Forest 

It is a type of supervised machine learning alogorithm based on ensemble.

##Problem Statement

To predict the gas consumption(in millions of gallons) in 48 of the US states based on petrol tax(in cents), per capita income(in dollars), paved highways(in miles) and the proportion of population with the driving license

In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#load dataset in variable and show first five rows.
ds = pd.read_csv('datasets/petrol_consumption.csv')
ds.head()

   Petrol_tax  Average_income  ...  Population_Driver_licence(%)  Petrol_Consumption
0         9.0            3571  ...                         0.525                 541
1         9.0            4092  ...                         0.572                 524
2         9.0            3865  ...                         0.580                 561
3         7.5            4870  ...                         0.529                 414
4         8.0            4399  ...                         0.544                 410

[5 rows x 5 columns]

In [3]:
X=ds.iloc[:,0:4] #features variable
Y=ds.iloc[:,4] #target variable

In [4]:
#spliting the dataset
from sklearn.model_selection import train_test_split

X_train,X_test,Y_train,Y_test = train_test_split(X,Y, test_size=0.2, random_state=0)

In [5]:
#features scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [6]:
#training
from sklearn.ensemble import RandomForestRegressor

reg = RandomForestRegressor(n_estimators=200, random_state=0)
reg.fit(X_train,Y_train)

y_pred = reg.predict(X_test)

In [7]:
#mae, mse, rmse
from sklearn import metrics

print('Mean Absolute Error: ', metrics.mean_absolute_error(Y_test, y_pred))
print('Mean Squared Error: ', metrics.mean_squared_error(Y_test, y_pred))
print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(Y_test, y_pred)))

Mean Absolute Error:  48.33899999999999
Mean Squared Error:  3494.2330150000003
Root Mean Squared Error:  59.112037818028234

In [8]:
y_pred

array([569.205, 493.25 , 601.31 , 592.405, 607.655, 609.635, 590.265,
       570.74 , 471.455, 509.78 ])